/*--------------------------------------------------------------
# Fly In Styles
--------------------------------------------------------------*/
#ess-main-wrapper {
	.ess-fly-layout-wrapper {
		position: fixed;
		bottom: 0;
		right: 0;
		max-width: 350px;
		box-sizing: border-box;
		transition: all 1s;
		padding: 20px;
		background: #fff;
		box-shadow: 0 0 15px rgba( 0, 0, 0, 0.1 );
		transform: translateY(100%);
		
		.ess-fly-title {
			color: #333;
		    font-size: 18px;
		    margin: 0 0 15px;
		}

		.ess-fly-subtitle {
			margin-bottom: 20px;
		}

		.ess-social-network-lists {
			margin-right: -2%;

			.ess-social-networks {
				width: 31.33%;
				padding: 10px 5px;
				box-sizing: border-box;
				margin-right: 2%;
				height: auto;
				
				.ess-social-share,
				.ess-social-share-pinterest,
				.ess-social-network-link {
					width: 100%;
				}
				
				.ess-social-networks-info-wrapper {
					display: table-cell;
					height: 100%;
					vertical-align: middle;
				}

				.ess-icon,
				.ess-social-count,
				.ess-text {
					display: block;
					width: 100%;
					height: 15px;
					padding: 0;
				}

				.ess-icon {
					background: none;
				}

				.ess-social-count {
					padding-top: 10px;
				}

				.ess-text {
					font-size: 12px;
					padding-top: 10px;
				}

				&.ess-all-networks {
					background: #252525;

					.ess-icon {
						line-height: 4.8;
						color: #fff;
						height: 65px;
					}
				}
			}
		}

		.ess-fly-layout-close {
			position: absolute;
			right: 11px;
			top: 11px;
			font-size: 18px;
			cursor: pointer;
		}

		&.ess-social-visible {
			transform: translateY( 0 );
		}

		&.ess-bottom-left {
			left: 0;
			right: auto;
		}

		&.ess-rounded-icon {
			.ess-social-network-lists {
				.ess-social-networks {
					border-radius: 50%;
					height: 68px;
				}
			}
		}
	}
}
