/**
 * easy-social-sharing.scss
 * Governs the general look and feel of EasySocialSharing sections using themes that do not
 * integrate with EasySocialSharing specifically.
 */

/**
 * Imports
 */
@import "parts/mixins";
@import "parts/variables";
@import "parts/animation";
@import "parts/fonts";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	overflow-x: hidden;
}

.ess-clear {
	clear: both;
	@include clearfix;
	&:before {
		content: '';
		display: table;
	}
}


@import 'parts/icon-style';
@import 'parts/sidebar';
@import 'parts/inline';
@import 'parts/popup';
@import 'parts/fly-in';
@import 'parts/tooltips';
@import 'parts/mobile-share';
@import 'parts/tooltips';
@import 'parts/small';
